.container {
  width: 100%;
  height: 100%;
}

.marca {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  //width: 144px;
  width: 210px;
  text-align: center;
}
.logo {
  width: 200px;
  height: auto;
}
.h1 {
  position: absolute;
  display: flex;
  align-items: center;
  //padding-left: 1px;
}

.subtitulos {
  margin-top: 2.5%;
  margin-bottom: 0.5%;
  margin-left: 2.5%;
}

.linea {
  border: 1px solid white;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.sectionGame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 4px;
}

.containerCarousel {
  margin-left: 2.5%;
  width: 50%;
}

.containerDescription {
  display: flex;
  flex-direction: column;
  margin-right: 2.5%;
  width: 50%;
}

.sectionButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5%;
  margin-top: 5%;
  justify-content: space-between;
}

.text {
  text-align: justify;
}

.formalText {
  font-family: sans-serif;
}

.buttonTab {
  border-color: transparent;
  border-radius: 5px;
  text-align: center;
  background-color: #1d428a;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: large;
  box-shadow: 50px;
}

.sectionProject {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los elementos horizontalmente en el contenedor */
  padding: 10px;
}

.containerCard {
  padding: 20px;
  flex: 1 1 200px; /* Los elementos tienen un mínimo de 200px de ancho y se expanden */
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente en el contenedor */
}

@media (max-width: 1024px) {
  .containerCard {
    flex: 1 1 33%; /* En pantallas medianas, los elementos ocupan el 33% del ancho del contenedor */
  }
}

@media (max-width: 768px) {
  .sectionGame {
    flex-direction: column;
  }

  .containerCarousel {
    width: 90%;
    margin-left: 0%;
  }

  .containerDescription {
    display: flex;
    flex-direction: column;
    margin-right: 2.5%;
    width: 90%;
  }

  .containerCard {
    flex: 1 1 40%; /* En pantallas pequeñas, los elementos ocupan el 50% del ancho del contenedor */
  }
}

@media (max-width: 480px) {
  .containerCarousel {
    width: 90%;
    margin-left: 0%;
  }

  .containerDescription {
    display: flex;
    flex-direction: column;
    margin-right: 2.5%;
    width: 90%;
  }

  .containerCard {
    flex: 1 1 100%; /* En pantallas muy pequeñas, los elementos ocupan el 100% del ancho del contenedor */
  }
}
