* {
  font-family: Quantico, sans-serif;
  color: white;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

@font-face {
  font-family: "Quantico";
  src: url("./fonts/quantico/Quantico-Bold.ttf");
  src: url("./fonts/quantico/Quantico-BoldItalic.ttf");
  src: url("./fonts/quantico/Quantico-Italic.ttf");
  src: url("./fonts/quantico/Quantico-Regular.ttf");
}
